<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="output_path" value="../../../ExtendInput/extendinputdb.jsonl"/>
    <add key="generic_hid_controller_maps" value="../../generic_hid_controller_maps"/>
  </appSettings>
</configuration>